.container {
  background-color: #dc0a2d;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  width: 100vw;
}

.main {
  display: flex;
  justify-content: center;
}

.main-screen {
  display: flex;
}

.search-list {
  display: flex;
  width: 500px;
}
