.gameboy-screen {
  background: #A90A1B url("./images/canvas.svg") no-repeat;
  background-size: contain;
  border: 10px solid #A90A1B;
  border-radius: 20px 0 20px 20px;
  height: 400px;
}

.sample {
  width: 250px;
  margin: 75px;
}
