.container-description {
  margin-top: 30px;
  font-family: 'Press Start 2P';
  display: flex;
  height: 80%;
  background-color: #A9051B;
  flex-direction: column;
  padding: 2% 10px;
  align-items: center;
  justify-content: space-around;
  border-radius: 0 20px 20px 0;
}

.name-id{
  width: 90%;
  padding: 10px;
  background-color: #242424;
  border-radius: 10px;
}

.name-id h2{
  color:#D7C94B;
  font-size: 16px;
  text-align: center;
  margin: 0;
}

.description{
  margin-top: 5%;
  width: 90%;
  padding: 10px;
  background-color: #242424;
  border-radius: 10px;
}

.description p {
  height: 200px;
  margin: 0;
  line-height: 1.5;
  color:#D7C94B;
  font-size: 10px;
  margin: 0;
}

.characteristics {
  margin-top: 5%;
  width: 95%;
  border-radius: 10px;
}

.charactteristics-list {
  display: flex;
  justify-content: space-between;
}

.pokeInfo {
  margin: 0;
  padding: 10px;
  width: 130px;
  height: 80px;
  color:#D7C94B;
  background-color: #242424;
  border-radius: 10px;
  font-size: 10px;
}

.pokeInfo p {
  margin-top: 5px;
}

.typeIcon {
  width: 100px;
  height: 100px;
  background-color: #50AF5E;
  box-sizing: border-box;
  border: 4px solid #3B7744;
  border-radius: 10px;
}