.container-description {
  font-family: "Press Start 2P";
  display: flex;
  height: 320px;
  background-color: #a9051b;
  flex-direction: column;
  border-radius: 0 20px 20px 0;
  padding-top: 10px;
  width: 350px;
}

.name-id {
  width: 320px;
  padding: 10px;
  background-color: #242424;
  border-radius: 10px;
}

.name-id h2 {
  color: #d7c94b;
  font-size: 16px;
  text-align: center;
  margin: 0;
}

.description {
  margin-top: 10px;
  width: 320px;
  padding: 10px;
  background-color: #242424;
  border-radius: 10px;
}

.description p {
  height: 134px;
  margin: 0;
  line-height: 1.7;
  color: #d7c94b;
  font-size: 10px;
  margin: 0;
}

.characteristics {
  margin-top: 10px;
  width: 97%;
  border-radius: 10px;
}

.charactteristics-list {
  display: flex;
  justify-content: space-between;
}

.pokeInfo {
  margin: 0;
  padding: 10px;
  width: 210px;
  height: 80px;
  color: #d7c94b;
  background-color: #242424;
  border-radius: 10px;
  font-size: 13px;
}

.pokeInfo p {
  margin-top: 5px;
}

.typeIcon {
  width: 100px;
  height: 100px;
  background-color: #50af5e;
  box-sizing: border-box;
  border: 4px solid #3b7744;
  border-radius: 10px;
}
