.container-description {
  font-family: 'Press Start 2P';
  display: flex;
  background-color: #A9051B;
  height: 100%;
  width: 43%;
  flex-direction: column;
}

.name-id {
  align-self: center;
  background-color: #242424;
  color:#D7C94B;
  border-radius: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 152%;
  text-align: center;
  width: 95%;
}

.description {
  align-self: center;
  background-color: #242424;
  border-radius: 10px;
  text-align: left;
  width: 95%;
}
