.top-bar {
  background-color: #a9051b;
  height: 100px;
  width: 100%;
}

.blue-led {
  left: 100px;
  position: absolute;
  top: 35px;
  width: 90px;
}

.header {
  height: 159px;
  display: flex;
  flex-direction: column;
  align-items:flex-start
}